body{
    overflow-x: hidden;
}
.header_box h1{
    color: #c96252;
    font-size: large
}
#side_nav{
    background: #000;
    min-height: 100vh;
    /* width: 100%; */
}
.content{
    min-height: 100vh;
    width: 100%;
    background-color:#222222; 
    overflow-x: hidden;
}
.button {
    background-color: #c96252; /* Green */
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
